/* Media queries
-------------------------------------------------------------- */
@media only screen and (max-width: 1023px) {
  body {
    font-size: 0.8em;
    line-height: 1.5em;
  }
  
  /* headings */
  h1 { font-size: 1.5em; line-height: 1.25em; margin-bottom: 0.75em; }
  h2 { font-size: 1.2em; line-height: 1em; margin-bottom: 0.85em; }
  h3 { font-size: 1em; line-height: 1em; margin-bottom: 1em; }
  h4 { font-size: 0.8em; height: 1.25em; line-height: 1.25; margin-bottom: 1em; }
  h5 { font-size: 0.8em; margin-bottom: 1.25em; }
  h6 { font-size: 0.8em; }

}

@media handheld, only screen and (max-width: 768px) {
  body {
    font-size: 16px;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
  }
  
  body,
  .container,
  .row {
    margin: 0;
    min-width: 0;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
	
  .row .column {
    float: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 10px;
    padding-right: 10px;
    width: auto !important;
  }

}