/* Override default grid if needed
-------------------------------------------------------------- */
/* grid :: ($column-width * $columns) + ($gutter-width * $columns) */
$column-width: 60px;
$gutter-width: 20px;
$columns: 12;

/* Compass
-------------------------------------------------------------- */
@import "compass";

/* Reset browser defaults
--------------------------------------------------------------*/
@include global-reset;

/* HTML5 elements
--------------------------------------------------------------*/
@include reset-html5;


/* Imports
-------------------------------------------------------------- */
// theme styles imports
@import "variables";
@import "layouts/grid";
@import "mixins/mixins";
@import "layouts/base";
@import "layouts/regions";
@import "components/typography";
@import "components/misc";
@import "components/logo-sitename";
@import "components/lists";
@import "components/nodes";
@import "components/blocks";
@import "components/main-menu";
@import "components/secondary-menu";
@import "components/breadcrumbs";
@import "components/blockquotes";
@import "components/messages";
@import "components/tabs";
@import "components/forms";
@import "components/tables";
@import "components/pagers";
@import "components/accessibility";
@import "components/comments";
@import "components/views";

//@import "sections/homepage";



/* push (left margin) / pull (right margin)
footer {
  @include push(3);
  @include pull(3);
}
 */

