/* Secondary menu
-------------------------------------------------------------*/
#secondary-menu {
  float: right;
  ul.links {
    margin: 0;
    overflow: hidden;
    li {
      background-image: none;
       float: left;
      padding: 0 10px 0 0;
    }
  }
}

